:root{
    --main-color: hsl(0,0%,5%);
    --sub-color-1: hsl(0,0%,20%);
    --sub-color-2: hsl(0,0%,30%);
    --sub-color-3: hsl(0,0%,80%);
    --accent-color-1: rgb(138, 96, 86);
    --accent-color-2: rgb(89, 80, 67);
    --accent-color-3: rgb(89, 80, 67);
    --accent-color-4: rgb(61, 50, 41);
    --font-color-1: rgb(205, 177, 145);
    --font-color-2: rgb(174, 129, 85);
    --link-color: rgb(130, 95, 61);
    --link-color-hover: rgb(218, 178, 143);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    color: var(--sub-color-3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--main-color);
}

a, button{
    cursor: pointer;
}

#up-icon{
    position: fixed;
    bottom: 0;
    right: 50%;
    z-index: 1;
    width: 100vw;
    height: 20px;
    transition: opacity 400ms;
}
#up-icon > div > img{
    scale: 0.3;
}
#up-icon > div{
    opacity: 1;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: var(--sub-color-1);
    top: 0;
    left: 50%;
    position: absolute;
    transition: background-color 400ms, opacity 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
}
#up-icon:hover > div{
    opacity: 1;
    background-color: var(--sub-color-2);
}